@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.65rem;
  --background: #e4e2e2;
  --foreground: #3f3f3f;
  --card: #ffffff;
  --card-foreground: #3f3f3f;
  --popover: #ffffff;
  --popover-foreground: #3f3f3f;
  --primary: #5c0000;
  --primary-foreground: #ffffff;
  --secondary: #d9d7d7;
  --secondary-foreground: #5c0000;
  --muted: #f0efef;
  --muted-foreground: #3f3f3f;
  --accent: #d9d7d7;
  --accent-foreground: #5c0000;
  --destructive: #b91c1c;
  --destructive-foreground: #ffffff;
  --border: #c6c5c5;
  --input: #c6c5c5;
  --ring: #5c0000;
  --chart-1: #5c0000;
  --chart-2: #7b0d1e;
  --chart-3: #a83a3a;
  --chart-4: #c65d5d;
  --chart-5: #e4a0a0;
  --sidebar: #ffffff;
  --sidebar-foreground: #5c0000;
  --sidebar-primary: #5c0000;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #d9d7d7;
  --sidebar-accent-foreground: #5c0000;
  --sidebar-border: #c6c5c5;
  --sidebar-ring: #5c0000;
}

.dark {
  --radius: 0.65rem;
  --background: #BABABA;
  --foreground: #e4e2e2;
  --card: #4a4a4a;
  --card-foreground: #e4e2e2;
  --popover: #4a4a4a;
  --popover-foreground: #e4e2e2;
  --primary: #5c0000;
  --primary-foreground: #ffffff;
  --secondary: #5c0000;
  --secondary-foreground: #ffffff;
  --muted: #595959;
  --muted-foreground: #ffffff;
  --accent: #5c0000;
  --accent-foreground: #ffffff;
  --destructive: #d62828;
  --destructive-foreground: #ffffff;
  --border: #5a5a5a;
  --input: #5a5a5a;
  --ring: #e4e2e2;
  --chart-1: #a4172e;
  --chart-2: #c13a4b;
  --chart-3: #da6a7a;
  --chart-4: #e89098;
  --chart-5: #f2a7af;
  --sidebar: #3f3f3f;
  --sidebar-foreground: #e4e2e2;
  --sidebar-primary: #5c0000;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #4a4a4a;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #5a5a5a;
  --sidebar-ring: #e4e2e2;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
